@import url('./styles/juanca.css');
@import url('./styles/Juanda.css');
@import url('./styles/daniela.css');
@import url('./styles/felipe.css');
@import url('./styles/maria.css');
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}
