.section-felipe {
    text-align: center;
    background-color: red;
    color:blue;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 100%;
}
.content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background-image: linear-gradient(red, orange, yellow);
}
img {
    display: inline-block;
    border-radius: 25px;
    height: 250px;
    margin-top: 5%;
}
.text_box {
    display: inline-block;
    text-align:center;
    border: 10px solid rgb(178, 34, 34);
    border-radius: 25px;
    background-color:rgb(30, 144, 255);
    font-size: 20px;
    color: rgb(178, 34, 34);
    font-family: 'Gluten', cursive;
    width: 500px;
    height: 250px;
}
p {
    margin-top: 10%;
}
